# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
summer_env/

# Django
db.sqlite3
*.log

# Environment variables / secrets
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/