{%extends 'app1/home.html'%}
{%load static%}

{%block body_block%}

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

<!-- <h2>Class VIII</h2> -->
<div>&nbsp;</div>
<div class="container">
    <h2>Class XI</h2>

    <div class="row align-items-center">

        <!-- Left Side -->
        <div class="col-md-6">
            <div class="textdiv">
                <p>
                    Class XI is an important stage in a student's academic
                    journey, where they build a strong foundation for higher
                    classes. Our curriculum focuses on strengthening concepts
                    in Mathematics, Science, English, Social Studies, and
                    Computer Science through interactive learning and practical
                    activities...Class XI is an important stage in a student's academic
                    journey, where they build a strong foundation for higher
                    classes. Our curriculum focuses on strengthening concepts
                    in Mathematics, Science, English, Social Studies, and
                    Computer Science through interactive learning and practical
                    activities Class XI is an important stage in a student's academic
                    journey, where they build a strong foundation for higher
                    classes. Our curriculum focuses on strengthening concepts
                    in Mathematics, Science, English, Social Studies, and
                    Computer Science through interactive learning and practical
                    activities Class XI is an important stage in a student's academic
                    
                </p>
            </div>
        </div>

        <!-- Right Side -->
        <div class="col-md-6 text-center">
            <img src="{% static 'images/cls-8.jpeg' %}"
                 class="img-fluid rounded">
        </div>

    </div>
</div>

  <!-- </div>
<h2>Class VIII</h2>
<div class="main">
    <div class="textdiv">
        <p>Class VIII is an important stage in a student's academic journey, where they build a strong foundation for higher classes. Our curriculum focuses on strengthening concepts in Mathematics, Science, English, Social Studies, and Computer Science through interactive learning and practical activities. We encourage students to develop critical thinking, creativity, communication skills, and self-confidence while participating in sports, cultural programs, and extracurricular activities. With the guidance of experienced teachers and a supportive learning environment, students are well-prepared for future academic success and personal growth.</p><br>
    </div>
          <div class="imgdiv">
            <img src="{% static 'images/cls-8.jpeg'%}" class='mainimg'/>
          </div>
</div> -->
<div class="container">
<h2 class="pt-5">Classrooms</h2>

<!-- <div class="gallery"> -->
 <img src="{% static 'images/img81.jpeg'%}" class="crimg"/>
 <img src="{% static 'images/img82.jpeg'%}" class="crimg"/>
 <img src="{% static 'images/img83.jpeg'%}" class="crimg"/>
 <img src="{% static 'images/img84.jpeg'%}" class="crimg"/>

 <br><br>
 
 <img src="{% static 'images/img85.jpeg'%}" class="crimg"/>
 <img src="{% static 'images/img86.jpeg'%}" class="crimg"/>
 <img src="{% static 'images/img87.jpeg'%}" class="crimg"/>
 <img src="{% static 'images/img88.jpeg'%}" class="crimg"/>
</div> 


<!-- </div> -->
{%endblock%}