body {
    background-color: lightgray;
}

h1 {
    text-align: center;
    color: darkblue;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

.thead {
    background-color: darkblue;
    color: white;
}

th {
    padding: 15px;
    border: 2px solid black;
}

td {
    padding: 12px;
    border: 2px solid black;
    text-align: center;
    background-color: white;
}

tr:hover td {
    background-color: lightblue;
}

button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
}
.address-box {
        background-color: lightblue;
        padding: 30px;
        border-radius: 10px;
    }