{%extends 'app1/home.html'%}
{%load static%}

{%block body_block%}
<div class="container mt-3">
<h2>Videos</h2>
    <div class="row g-3">
   <div class="col-md-4">
  <iframe width="400" height="300" src="https://www.youtube.com/embed/IAb2QHdNe1A?si=MBNPlBXdHavt12sQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="video"></iframe>
  </div>
  <div class="col-md-4">
  <iframe width="400" height="300" src="https://www.youtube.com/embed/IAb2QHdNe1A?si=MBNPlBXdHavt12sQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen  class="video"></iframe>
  </div>
  <div class="col-md-4">
  <iframe width="400" height="300" src="https://www.youtube.com/embed/IAb2QHdNe1A?si=MBNPlBXdHavt12sQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen  class="video"></iframe>
  </div>
  <div class="col-md-4">
  <iframe width="400" height="300" src="https://www.youtube.com/embed/IAb2QHdNe1A?si=MBNPlBXdHavt12sQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen  class="video"></iframe>
  </div>
  <div class="col-md-4">
  <iframe width="400" height="300" src="https://www.youtube.com/embed/IAb2QHdNe1A?si=MBNPlBXdHavt12sQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen  class="video"></iframe>
  </div>
  <div class="col-md-4">
  <iframe width="400" height="300" src="https://www.youtube.com/embed/IAb2QHdNe1A?si=MBNPlBXdHavt12sQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen  class="video"></iframe>
  </div>
  <div class="col-md-4">
  <iframe width="400" height="300" src="https://www.youtube.com/embed/IAb2QHdNe1A?si=MBNPlBXdHavt12sQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen  class="video"></iframe>
  </div>
  <div class="col-md-4">
  <iframe width="400" height="300" src="https://www.youtube.com/embed/IAb2QHdNe1A?si=MBNPlBXdHavt12sQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen  class="video"></iframe>
  </div>
  <div class="col-md-4">
  <iframe width="400" height="300" src="https://www.youtube.com/embed/IAb2QHdNe1A?si=MBNPlBXdHavt12sQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen  class="video"></iframe>
  </div>
  </div>
  </div>
{%endblock%}